<div class="flex flex-col gap-3 h-full relative folder-detail">
  <div class="flex items-center justify-between gap-3">
    <p-breadcrumb
      class="w-full"
      [model]="storageStore.breadcrumb()"
      [home]="home"
      (onItemClick)="handleBreadcrumb($event)"
    />
    <div
      class="flex items-center px-3 py-2 gap-3 rounded-md"
      [ngClass]="{ 'bg-[#18181b]': appStore.isDarkMode() }"
    >
      <p-button
        icon="pi pi-copy"
        [text]="true"
        size="small"
        [disabled]="checkedDirectories.length === 0"
        (click)="handleCopy()"
      ></p-button>
      <p-button
        severity="info"
        icon="pi pi-clipboard"
        [text]="true"
        size="small"
        [disabled]="checkedDirectories.length === 0"
        (click)="handlePaste()"
      ></p-button>
      <p-button
        [text]="true"
        severity="success"
        size="small"
        [disabled]="checkedDirectories.length === 0"
        (click)="handleRename()"
      >
        <ng-icon name="heroPencilSquare"></ng-icon>
      </p-button>
      <p-button
        severity="help"
        icon="pi pi-download"
        [text]="true"
        size="small"
        [disabled]="checkedDirectories.length === 0"
        (click)="downloadFiles()"
      ></p-button>
      <p-button
        [text]="true"
        severity="warning"
        size="small"
        [disabled]="checkedDirectories.length === 0"
        (click)="handleCut()"
      >
        <ng-icon name="heroScissors"></ng-icon>
      </p-button>
      <p-button
        icon="pi pi-trash"
        [text]="true"
        severity="danger"
        size="small"
        [disabled]="checkedDirectories.length === 0"
        (click)="deleteFiles($event)"
      ></p-button>
    </div>
    <div class="flex items-center px-3 gap-3 rounded-md h-full">
      <p-button
        icon="pi pi-search"
        [outlined]="true"
        (click)="handleSearch()"
      />
    </div>
  </div>
  <div
    class="h-full rounded-md"
    [ngClass]="{ 'bg-[#18181b]': appStore.isDarkMode() }"
  >
    <p-table
      [value]="storageStore.detailFolder()"
      dataKey="name"
      [contextMenu]="cm"
      [(contextMenuSelection)]="selectedDirectory"
      [(selection)]="checkedDirectories"
      [loading]="storageStore.isLoading()"
      [styleClass]="'h-full'"
    >
      <ng-template pTemplate="header">
        <tr>
          <th style="width: 4rem"><p-tableHeaderCheckbox /></th>
          <th class="w-2/5">Name</th>
          <th>Type</th>
          <th>Size</th>
          <th>Date modified</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-directory let-rowIndex="rowIndex">
        <tr
          (dblclick)="retrieveDirectory(directory)"
          [pContextMenuRow]="{directory, rowIndex}"
        >
          <td>
            <p-tableCheckbox [value]="directory" />
          </td>
          <td>
            <div class="flex items-center" appAppear>
              <img
                [alt]="directory.name"
                [src]="
                  'assets/images/'
                    | imageSrc
                      : [
                          directory.extension,
                          directory.type === 'folder' ? true : false
                        ]
                "
                width="15"
                style="vertical-align: middle"
              />
              <p-inplace class="ml-2" [preventClick]="true" #inplace>
                <ng-template pTemplate="display">
                  <span>{{ directory.name }}</span>
                </ng-template>
                <ng-template pTemplate="content">
                  <div class="flex gap-1 items-center relative">
                    <input
                      type="text"
                      [value]="directory.name"
                      pInputText
                      #input
                      class="pl-3 py-1"
                    />
                    <div
                      class="absolute flex gap-1 items-center right-0 -bottom-9"
                    >
                      <p-button
                        icon="pi pi-check"
                        size="small"
                        severity="success"
                        (click)="confirmChangeName(input.value, inplace)"
                      />
                      <p-button
                        icon="pi pi-times"
                        size="small"
                        severity="warning"
                        (click)="inplace.deactivate()"
                      />
                    </div>
                  </div>
                </ng-template>
              </p-inplace>
            </div>
          </td>
          <td>
            {{ directory.extension ? directory.extension : directory.type }}
          </td>
          <td>{{ directory.size }}</td>
          <td>{{ directory.lastModifiedDate }}</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
  <p-speedDial
    [disabled]="storageStore.breadcrumb().length === 0"
    [model]="speedDialItems"
    radius="120"
    direction="up-left"
    type="quarter-circle"
    buttonClassName="p-button-success"
  />
</div>
<p-contextMenu #cm [model]="tableContextMenu" />
