<div class="flex flex-col gap-3 h-full relative folder-detail">
  <div class="flex items-center justify-between">
    <p-breadcrumb
      class="w-full"
      [model]="storageStore.breadcrumb()"
      [home]="home"
      (onItemClick)="handleBreadcrumb($event)"
    />
    <div
      class="flex items-center px-3 gap-3 ml-2 rounded-md h-full"
      [ngClass]="{ 'bg-[#18181b]': appStore.isDarkMode() }"
    >
      <p-button
        label="Download"
        icon="pi pi-download"
        [text]="true"
        size="small"
      ></p-button>
      <p-button
        label="Rename"
        icon="pi pi-pencil"
        [text]="true"
        severity="warning"
        size="small"
      ></p-button>
      <p-button
        label="Delete"
        icon="pi pi-trash"
        [text]="true"
        severity="danger"
        size="small"
      ></p-button>
    </div>
  </div>
  <div
    class="h-full rounded-md"
    [ngClass]="{ 'bg-[#18181b]': appStore.isDarkMode() }"
  >
    <p-table
      [value]="storageStore.detailFolder()"
      dataKey="name"
      [contextMenu]="cm"
      [(contextMenuSelection)]="selectedDirectory"
      [loading]="storageStore.isLoading()"
    >
      <ng-template pTemplate="header">
        <tr>
          <th style="width: 4rem"><p-tableHeaderCheckbox /></th>
          <th>Name</th>
          <th>Date modified</th>
          <th>Type</th>
          <th>Size</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-directory>
        <tr
          (dblclick)="retrieveDirectory(directory)"
          [pContextMenuRow]="directory"
        >
          <td>
            <p-tableCheckbox [value]="directory" />
          </td>
          <td>
            <div class="flex items-center">
              <img
                [alt]="directory.name"
                [src]="
                  'assets/images/'
                    | imageSrc
                      : [
                          directory.extension,
                          directory.type === 'folder' ? true : false
                        ]
                "
                width="15"
                style="vertical-align: middle"
              />
              <span class="ml-2">{{ directory.name }}</span>
            </div>
          </td>
          <td>{{ directory.lastModifiedDate }}</td>
          <td>
            {{ directory.extension ? directory.extension : directory.type }}
          </td>
          <td>{{ directory.size }}</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
  <p-speedDial
    [disabled]="storageStore.breadcrumb().length === 0"
    [model]="speedDialItems"
    radius="120"
    direction="up-left"
    type="quarter-circle"
    buttonClassName="p-button-success"
  />
</div>
<p-contextMenu #cm [model]="tableContextMenu" />
