::ng-deep .p-tree .p-tree-container .p-treenode .p-treenode-content {
  padding: unset;
}

::ng-deep .p-menuitem-text:hover {
  color: #22d3ee;
}

::ng-deep .p-treenode-label {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
