apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Release.Name }}
spec:
  selector:
    matchLabels:
      app: {{ .Release.Name }}
  replicas: {{ .Values.replica }}
  template:
    metadata:
      labels:
        app: {{ .Release.Name }}
    spec:
      volumes:
        - name: data
          persistentVolumeClaim:
            claimName: {{ .Release.Name }}-pvc
      containers:
        - name: {{ .Release.Name }}
          volumeMounts:
            - mountPath: {{ .Values.mount_folder }}
              name: data
          image: "{{ .Values.image.name }}:{{ .Values.image.tag }}"
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: {{ .Values.port }}
          env:
            - name: GIN_MODE
              value: "release"
            - name: POD_NAME
              valueFrom:
                fieldRef:
                  fieldPath: metadata.name

            - name: DATABASE_HOST
              valueFrom:
                configMapKeyRef:
                  name: {{ .Release.Name }}-cf
                  key: database_host
            - name: DATABASE_PORT
              valueFrom:
                configMapKeyRef:
                  name: {{ .Release.Name }}-cf
                  key: database_port
            - name: DATABASE_NAME
              valueFrom:
                configMapKeyRef:
                  name: {{ .Release.Name }}-cf
                  key: database_name
            - name: DATABASE_MIGRATION
              valueFrom:
                configMapKeyRef:
                  name: {{ .Release.Name }}-cf
                  key: database_migration
            - name: DATABASE_INITIALIZATION_DATA
              valueFrom:
                configMapKeyRef:
                  name: {{ .Release.Name }}-cf
                  key: database_initialization_data
            - name: KEYCLOAK_API_URL
              valueFrom:
                configMapKeyRef:
                  name: {{ .Release.Name }}-cf
                  key: keycloak_api_url
            - name: ACCOUNT_ACTIVE_HOST
              valueFrom:
                configMapKeyRef:
                  name: {{ .Release.Name }}-cf
                  key: account_active_host
            - name: NFS_HOST
              valueFrom:
                configMapKeyRef:
                  name: {{ .Release.Name }}-cf
                  key: nfs_host
            - name: MOUNT_FOLDER
              valueFrom:
                configMapKeyRef:
                  name: {{ .Release.Name }}-cf
                  key: mount_folder

            - name: DATABASE_USERNAME
              valueFrom:
                secretKeyRef:
                  name: {{ .Release.Name }}-secret
                  key: database_username
            - name: DATABASE_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: {{ .Release.Name }}-secret
                  key: database_password
            - name: KEYCLOAK_CLIENT_ID
              valueFrom:
                secretKeyRef:
                  name: {{ .Release.Name }}-secret
                  key: keycloak_client_id
            - name: KEYCLOAK_CLIENT_SECRET
              valueFrom:
                secretKeyRef:
                  name: {{ .Release.Name }}-secret
                  key: keycloak_client_secret
            - name: KEYCLOAK_ADMIN_USERNAME
              valueFrom:
                secretKeyRef:
                  name: {{ .Release.Name }}-secret
                  key: keycloak_admin_username
            - name: KEYCLOAK_ADMIN_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: {{ .Release.Name }}-secret
                  key: keycloak_admin_password
